* {
  /* background-color: black; */
  box-sizing: border-box;
  margin: 0px;
}
body {
  background-color: black;
  color: white;
}
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* background-color: blueviolet; */
}
.navbar-goto {
  /* color: red; */
  margin: 0px 5rem;
  display: flex;
  justify-content: space-around;
}
.navbar h2 {
  font-size: 1.5rem;
}
.intro{
    /* background-color: blue; */
    height: 90vh;
    text-align: center;
    display: flex;
   
}
.intro-right{
    /* background-color: red; */
    width: 50%;
    padding-top: 10rem;
    height: 70%;
    align-self: center;
}
.intro-left{
    /* background-color: green; */
    width: 50%;
}

.about-me {
  margin: 0 5rem auto;
  height: 95vh;
  margin-top: 90px;

}
.about-me-container {
  display: flex;
}
.about-me-img img {
  width: 450px;
  /* border-radius: 20px; */
}
.about-me-content {
  /* color: #a8dff1; */
  display: flex;
  font-size: 2rem;
  align-items: center;
  margin-left: 40px;
  word-spacing: 1px;
  width: 50%;
}

.about-me-heading {
  /* color: #73b0cd; */
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  line-height: 0.2rem;
  padding-bottom: 4rem;
}